{% extends 'base.html' %}


        {% block show %}
        <div  class="grid-container">
                <div class="grid-item">
                {{todo.date_time}} <br>    
                <h3>{{todo.title}}</h3> 
                {{todo.Details}}<br>
                {{todo.created}}<br>
                      


                </div>
                
        </div>
        
        {% endblock %}

        {% block other %}
        <a class="btn btn-danger" href="{% url 'home:delete' todo.id  %} ">delete</a>
        <a class="btn btn-primary" href="{% url 'home:update' todo.id  %} ">update</a>
        {% endblock %}

       